body{
    padding: 50px;
    font-family: Arial, sans-serif;
}
ul {
    list-style-type: none;
    padding: 0;
    width:400px;
}
li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0faff; 
    border-radius: 5px;
}
li:nth-child(odd) {
    background-color: #d9f2ff; 
}
li.checked {
    background-color: #f2f2f2; /* сірий фон для відмічених елементів */
    text-decoration: line-through; /* закреслення тексту */
}
.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
  
    
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
}
.checkbox.checked:before {
    content: "\2714"; /* галочка */
    font-size: 14px;
    color: #555;
    text-align: center;
    line-height: 20px;
}
.checkbox:not(.checked):before {
    content: "\2b1c"; /* квадрат без галочки */
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
.delete {
   
    font-size: 15px;
    color: #ff3333;
    cursor: pointer;
}