.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_picture {
    justify-content: center;
    align-items: center;
    width: 630px;
    height: 430px;
    overflow: hidden;
    margin: 20px;
}
.main_picture img{
    width: 600px;
    height: auto;
    border-radius: 15px;
    margin: 12px 0 12px 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.904);
}

.nav-container img{
    width: 100px;
    height: auto;
    border-radius: 15px;
    margin: 0 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.904);
}